.cart_mainContainer {
  width: 100vw;
  outline: solid rebeccapurple;
  display: flex;

}

.cart_content {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 0.25rem;
}

.cart_checkout {
  width: 50%;
}