.cart_mainContainer {
  width: 100vw;
  display: flex;
  color: black;

}

.cart_content {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 0.25rem;
  padding: 1rem 1.5rem;
}

.cart_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart_checkout {
  width: 50%;
}

.cart_title {
  width: 100%;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 2rem;
  color: black;
}

@media screen and (max-width: 800px) {
  .cart_mainContainer {
    flex-direction: column;
  }

  .cart_content {
    width: 100%;
  }

  .cart_checkout {
    width: 100%;
  }
}