.sortBy_mainContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: gray;
  justify-content: space-around;
  padding: 1rem;
}

.sortBy_mainContainer div {
  cursor: pointer;
}

.sortByOpen {
  height: 200px;
  transition: all 0.3s ease-in-out;
}

.sortByClose {
  height: 100px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  overflow: hidden;
}