.cartItem_mainContainer {
  width: 100%;
  display: flex;
  justify-content: start;
  position: relative;
  border: #333 solid 2px;
}

.cartItem_image {
  flex: 0 0 30%;

}

.cartItem_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartItem_data {
  width: 50%;
  font-size: larger;
  font-weight: 300;
  padding: 0.5rem 2rem;
}

.cartItem_data h4 {
  padding: 0;
}

.cartItem_data h6 {
  font-weight: 400;
  font-size: medium;
}

.cartItem_remove {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  background-color: gray;
  border-radius: 50%;

}

.cartItem_remove div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItem_remove:hover {
  transform: scale(0.95);
  background-color: white;
}

.cartItem_remove img {
  width: 25px;
  height: 25px;
}

select {
  padding: 8px 18px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

select:hover {
  background-color: gray;

}

select::-ms-expand {
  display: none;
  cursor: pointer;
}