.filter_mainContainer {
  background-color: gray;
  position: relative;
  transition: width 0.3s ease-in-out;
}

.filterOpen {
  width: 270px;
  transition: all 0.3s ease-in-out;
}

.filterClose {
  width: 0px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}


.filter_content {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

@media screen and (max-width: 500px) {
  .filter_content {
    width: 98%;
    padding-left: 0rem;
  }

  .filter_accordion {
    font-size: 16px;
  }

  .filterOpen {
    width: 150px;
  }
}