.checkoutPage {
  display: flex;
  width: 100vw;
}

.payData {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.checkout_back {
  position: absolute;
  z-index: 2;
  top: 0;
  color: rgb(0, 0, 0);
  padding: 2rem;
  transition: color 0.3s ease-in-out;
}

.checkout_back:hover {
  color: rgb(148, 6, 6);
}