.shoeData_mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #222;
  border: solid rgb(192, 191, 191);
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  text-transform: capitalize;
}

.shoeData_mainContainer h3,
h4 {
  padding: 0 0.5rem;
}

.shoeData_mainContainer h3 {
  padding-top: 0.5rem;
}

.shoeData_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
}

.shoeData_mainContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shoeData_priceContainer {
  position: relative;
  display: flex;
}

.shoeDataDiscount {
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: 50%;
  background-color: rgb(221, 45, 22);
}