.favourite_mainContainer {
  width: 100vw;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;

}

.favourite_mainContainer h2 {
  font-size: 36px;
  padding-bottom: 2rem;
  color: black;
}

.favourite_List {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

}