.footer_mainContainer {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: black;
}

.footer_flexContainer {
  width: 100%;
  display: flex;
  padding: 0rem 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_flexContainer_mainData img {
  width: 200px;
  height: 200px;
}

.footer_social {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.footer_social div {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer_social img {
  width: 25px;
  height: 25px;
}

.footer_flexContainer_categories,
.footer_flexContainer_brands,
.footer_flexContainer_contact {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;

}

.footer_flexContainer_categories h4,
.footer_flexContainer_brands h4,
.footer_flexContainer_contact h4 {
  font-size: 20px;
  font-weight: bold;
}

.footer_mainContainer h4 {
  padding-left: 0rem;
  transform: translateX(-0.5rem);
}