.shoeDetail_mainContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;

}

.shoeDetail_topData {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.shoeDetail_mainImg {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}

.shoeDetail_mainImg img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.9);
}

.shoeDetail_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 4rem 0;
  justify-content: space-around;
}

.shoeDetail_content h1 {
  font-style: italic;
}

.shoeDetail_sizesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  overflow: hidden;
  padding: 1rem 0;
}

.shoeDetail_sizesGrid div {
  display: flex;
  justify-content: center;
  outline: 2px solid rgb(0, 0, 0);
  text-align: center;
  position: relative;
  margin: 1px;
  cursor: pointer;


}

.shoeDetail_sizesGrid div:hover {
  background-color: rgb(2, 74, 138);
}

/* // Second images */

.shoeDetail_otherImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  padding-bottom: 2rem;

}

.shoeDetail_otherImgs_img {
  height: 100%;
  width: 250px;
  flex-grow: 0.5;
}

.shoeDetail_otherImgs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.9); */
}

.shoeDetail_rating {
  display: flex;
  position: relative;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 40px;
}

.shoeDetail_price {
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
  color: black;
  padding: 1rem 0.5rem;
}

.selected {
  color: rgb(208, 211, 23);
  font-weight: bold;
  background-color: rgb(2, 74, 138);
}

.shoeDetail_sizeError {
  color: rgb(151, 16, 16);
  font-weight: 600;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 800px) {
  .shoeDetail_topData {
    flex-direction: column;
  }

  .shoeDetail_content {
    width: 100%;
    padding: 0 2rem;
    padding-bottom: 2rem;
  }

  .shoeDetail_mainImg {
    width: 100%;
  }

  .shoeDetail_mainImg img {
    width: 100%;
  }

  .shoeDetail_sizesGrid {
    padding: 2rem;
  }

  .shoeDetail_otherImgs {
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .shoeDetail_otherImgs_img {
    height: 100%;
    width: 100%
  }
}