.payment_mainContainer {
  color: black;
  padding: 1rem 0;

}

.payment_method {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  width: 50%;
  height: 0;

}

.payment_method img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.payment_cardNumber {
  background-color: transparent;
  border: none;
  border-bottom: 1px black solid;
  outline: none;
  color: black;
  height: 20px;
  font-size: x-large;
  font-weight: bold;
}

.payment_payBtn {
  padding: 1.5rem 0;
}